build/*
train/snapshots/*
*.pyc

train/\.vscode/

train/NEAT/snapshots/*
train/NEAT/neat_network*
train/NEAT/parallel_info.ndjson
train/Random/snapshots/*

train/NEAT/checkpoint

train/NEAT/core

train/NEAT/fitness_history\.csv

train/NEAT/speciation\.csv

train/NEAT/species_fitness\.csv

train/NEAT/winner\.pkl
/.vs
/.vscode
gymBin/*
testbedenv/*
.idea/*
